<div class="logintab">
    <div class="sideLeft">
        <span>Welcome!</span>
    </div>
    <div class="loginRight">
        <h2>Signup</h2>
        <div>
            <input type="text" placeholder="Name" />
        </div>
        <div>
            <input type="email" placeholder="email" />
        </div>
        <div>
            <input type="text" placeholder="Password" />
        </div>
        <div class="buttonlogin my-4 text-center ">
            <button>Login</button>
        </div>
    </div>
</div>